<div class="main">
    <div class="login">
        <div class="title">
            Dashboard
        </div>
        <div class="form">
            <form action="" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                <div class="row">
                    <input (focus)="error = ''" required type="text" formControlName="username" placeholder="Usuario">
                </div>
                <div class="row">
                    <input (focus)="error = ''" required type="password" formControlName="password" placeholder="Contraseña">
                </div>
                <div class="row">
                    <button type="submit">Login</button>
                </div>
            </form>

        </div>
        <div *ngIf="error != ''" class="error">
            {{ error }}
        </div>
    </div>
</div>