.main{
    
    .login{
        position:fixed;
        border: 1px solid silver;
        width: 300px;
        height: 230px;
        left: 50%;
        top: 20%;
        margin-left: -150px;
        margin-top: -50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 10px;

        .title{
            padding: 10px;
            
        }

        form{
            .row{
                padding: 10px 10px 0px 10px;

                input{
                    width: calc(100% - 22px);
                    padding: 10px;
                    border: 1px solid silver;
                }
                button{
                    width: 100%;
                    padding: 10px;
                    background: #0099f1;
                    color: white;
                    border: 0px;
                    cursor: pointer;

                    &:hover{
                        background: #17aaff;
                    }
                }
            }
        }

        .error{
            border: 1px solid rgb(255, 0, 0);
            background-color: rgb(255, 176, 176);
            padding: 10px;
            margin: 10px;
            font-size: 12px;
        }
    }
}
