
.dashboard{
    margin-top: 50px;

    .barra{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        background-color: silver;
        padding: 10px 0px 10px 0px;      
        
        .title{
            margin-left: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bold;
        }

        button{
            background: #0099f1;
            color:white;
            border: 0px;
            padding: 3px;
            border-radius: 3px;
            float: right;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}