<div class="dashboard">    
    <div class="barra">
        <span class="title">
            Dashboard
        </span>
        <button (click)="logout()"> Cerrar sesi&oacute;n </button>
    </div>
    <tiempo-temperatura></tiempo-temperatura>
    <tiempo-oxigeno></tiempo-oxigeno>
    <hora-valvula></hora-valvula>
    <hora-oxigeno></hora-oxigeno>
</div>