<div>
    <canvas 
    baseChart 
    width="400" 
    height="100" 
    chartType="bar" 
    [datasets]="chartData" 
    [labels]="chartLabels"
    [options]="chartOptions"
    [colors]="colors">
    </canvas>
</div>